#.DS_Store

.venv


.ipynb_checkpoints
*/.ipynb_checkpoints/*

#*.pyc
#*.pyo

#.idea/

seminar/1 part - Предсказание стоимости жилья в Бостоне/housing.data
seminar/1 part - Предсказание стоимости жилья в Бостоне/housing.names
seminar/1 part - Предсказание стоимости жилья в Бостоне/Index
seminar/1 part - Предсказание стоимости жилья в Бостоне/catboost_info/

seminar/Bazovyi_774_potok_lektsia_2.pptx

Kaggle/data

